################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Simulator/bin/Debug/net8.0
/.vs
/source/ToyRobot/bin/Debug/net8.0
/source/ToyRobot/obj
/test/ToyRobot.Test/bin
/test/ToyRobot.Test/obj
